@media (max-width: 768px) {
    .heading-bg {
        font-size: 15vw;
    }
}
@media (max-width: 576px) {
    .cell {
        font-size: 5vw;
    }

    .heading-bg {
        font-size: 12vw;
    }
    .col-4 {
    padding-left: 4px;
    padding-right: 4px;
}
}