@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
body,html{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.time-box{
    background-color: #110e0fde;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 40px 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 100vh;
}
.time-btn{
    padding:5px 25px;
}
.time-box h4 {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.time-box input {
    background: #111;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    box-shadow: inset 0 -4px 6px rgba(0,0,0,0.5),
                inset 0 4px 6px rgba(255,255,255,0.05);
}
.time-box input::-webkit-inner-spin-button,
.time-box input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.time-box input[type=number] {
    -moz-appearance: textfield;
}
.time-box input::placeholder {
    color:#f1042c56;
}
.time-box input:focus {
    background: #111 !important;
    color: white;
    outline: none;
    box-shadow: inset 0 -4px 6px rgba(0,0,0,0.5),
                inset 0 4px 6px rgba(255,255,255,0.05);
}
/* Buttons */
.time-btn {
    background: linear-gradient(145deg, #ff002b, #330000); /* red to black gradient */
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 14px 32px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    box-shadow:
        0 6px 0 #000, /* solid base shadow for 3D */
        0 10px 20px rgba(255, 0, 43, 0.4), /* glowing red shadow */
        inset 0 3px 6px rgba(255, 255, 255, 0.2), /* top light reflection */
        inset 0 -4px 8px rgba(0, 0, 0, 0.6); /* bottom shadow inside */
    transition: all 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.time-btn:hover {
    transform: translateY(-3px);
    border:2px solid #ff002b;
    box-shadow:
        0 8px 0 #000,
        0 12px 25px rgba(255, 0, 43, 0.6),
        inset 0 4px 6px rgba(255, 255, 255, 0.3),
        inset 0 -4px 8px #ff002b;
}

.time-btn:active {
    transform: translateY(4px);
    box-shadow:
        0 2px 0 #000,
        0 6px 15px rgba(255, 0, 43, 0.5),
        inset 0 2px 4px rgba(255, 255, 255, 0.2),
        inset 0 -2px 4px rgba(0, 0, 0, 0.6);
}
#quote{
    font-size: 35px;
    letter-spacing: 1px;
    color: #ffffffbb;
    font-family: "Niconne", cursive;
}
